@{
  ViewBag.Title = "Home Page";
}

<main>
  <section class="row text-center mt-5" aria-labelledby="title">
    <h1 id="title">RECYCLABLE CALCULATOR</h1>
  </section>

  <div class="row mt-5">
    <section class="col-12 text-center" aria-labelledby="title">
      <div class="row justify-content-center gap-5">
        <div class="col-4">
          <a class="text-decoration-none text-body" href="@Url.Action("Index","RecyclableTypes")">
            <article class="card card-index w-100 rounded-5 border-primary">
              <div class="card-body d-flex align-items-center justify-content-center">
                <strong class="card-index-text"><i class="bi bi-recycle card-index-icon"></i><br />Recyclable<br />Types</strong>
              </div>
            </article>
          </a>
        </div>
        <div class="col-4">
          <a class="text-decoration-none text-body" href="">
            <article class="card card-index w-100 rounded-5 border-primary">
              <div class="card-body d-flex align-items-center justify-content-center">
                <strong class="card-index-text"><i class="bi bi-box-seam card-index-icon"></i><br />Recyclable<br />Items</strong>
              </div>
            </article>
          </a>
        </div>
      </div>
    </section>
  </div>
</main>