USE [master]
GO
/****** Object:  Database [RecyclableCalculatorDb]    Script Date: 12/16/2024 6:12:39 AM ******/
CREATE DATABASE [RecyclableCalculatorDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecyclableCalculatorDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RecyclableCalculatorDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecyclableCalculatorDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RecyclableCalculatorDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecyclableCalculatorDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecyclableCalculatorDb]
GO
/****** Object:  Table [dbo].[RecyclableItems]    Script Date: 12/16/2024 6:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecyclableItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemDescription] [varchar](100) NULL,
	[RecyclableTypeId] [int] NOT NULL,
	[Weight] [decimal](18, 2) NOT NULL,
	[ComputedRate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_RecyclableItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecyclableTypes]    Script Date: 12/16/2024 6:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecyclableTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](100) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[MinKg] [decimal](18, 2) NOT NULL,
	[MaxKg] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_RecyclableTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_RecyclableTypes] UNIQUE NONCLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_RecyclableItemRecyclableType]    Script Date: 12/16/2024 6:12:39 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK_RecyclableItemRecyclableType] ON [dbo].[RecyclableItems]
(
	[RecyclableTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RecyclableItems]  WITH CHECK ADD  CONSTRAINT [FK_RecyclableItemRecyclableType] FOREIGN KEY([RecyclableTypeId])
REFERENCES [dbo].[RecyclableTypes] ([Id])
GO
ALTER TABLE [dbo].[RecyclableItems] CHECK CONSTRAINT [FK_RecyclableItemRecyclableType]
GO
USE [master]
GO
